{% extends 'catalog/base.html' %}

{% block content %}

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>{{title}}</th>
            <th>В системе:</th>                
        </tr>
    </thead>
    
    <tbody class="table-info table-hover">

        <tr class="table-info table-hover">
                <td>{{user.username}}</td>
                <td>{{user.JT}}</td>
        </tr>
    </tbody>
</table>

<form action="{% url 'AddTabelAdmin' %}" method="post">
    {% csrf_token %}
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 80px; text-align: center; vertical-align: top;">
                    <div>
                        <label for="id_tabel_date">Дата табеля:</label>
                        <input id="id_tabel_date" type="date" value={{date_tabel}} required id="" name="tabel_date">
                    </div>
                </th>
                <th style="vertical-align: top; text-align: center; width: 50%;">
                    <label for="id_vnach">Вид начисления:</label>
                    <select id="id_vnach" class="form-select" name='vnach_field' style="width: 120px; text-align: center;">
                
                        {%for e in vnach%}                            
                            {% if e.id != vnch %}
                                <option value={{e.id}}>{{e.name}}</option> 
                            {% else %}    
                                <option value={{e.id}} selected={{e.id}}>{{e.name}}</option> 
                            {% endif %}

                        {% endfor %}        
                    </select>                                                
                </th>
            </tr>
            <tr>
                <th>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="submit">Создать</button>
                    </div>                        
                </th>
            </tr>
        </thead>
    </table>

{{ form.as_p }}

<table class="table table-hover">
    <thead>
        <tr>
            <th style="text-align: center;">Сотрудники</th>
            <th style="width: 80px; text-align: center;";>Сумма</th>
        </tr>
    </thead>
    
    <tbody class="table-warning table-hover">


    {% for n in slist %}

    <tr class="table-warning table-hover">
        <td>{{ n.name }}</td>
        <td style="width: 80px; text-align: center;">
            <div class="mb-3" style="width: 120px;">                
                <input type="text" class="form-control" name='sotr{{n.id}}' id={{n.id}} placeholder="0">
            </div>            
        </td>
    </tr>

    {% endfor %}

    </tbody>
</table>

</form>

{% endblock %}
