{% extends 'catalog/base.html' %}

{% block content %}

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>{{title}}</th>
            <th>В системе:</th>                
        </tr>
    </thead>
    
    <tbody class="table-info table-hover">

        <tr class="table-info table-hover">
                <td>{{user.username}}</td>
                <td>{{user.JT}}</td>
        </tr>
    </tbody>
</table>

<form action="{% url 'EditGraphic' %}" method="post">
    {% csrf_token %}
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 80px; text-align: center; vertical-align: top;">
                    <div>
                        <label for="id_tabel_date">Дата графика:</label>
                        <input id="id_tabel_date" type="date" value={{gdate}} required id="" name="gdate">
                    </div>
                </th>
                <th  style="width: 40px; text-align: center; vertical-align: bottom">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-info" type="submit" value="reload" name="choise">Обновить</button>
                    </div>                         
                </th>
                <th  style="width: 40px; text-align: center; vertical-align: bottom;">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-primary" type="submit" value="update" name="choise">Изменить</button>
                    </div>                         
                </th>
                <th  style="width: 40px; text-align: center; vertical-align: top;">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        
                    </div>                         
                </th>
            </tr>
            <tr>            
            </tr>
        </thead>
    </table>

{{ form.as_p }}

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 30px; text-align: center;">Изм</th>
            <th style="width: 80px; text-align: center;">Сотрудники</th>
            <th style="width: 80px; text-align: center;">Позиция</th>
            <th style="width: 40px; text-align: center;">t'Приход</th>
            <th style="width: 40px; text-align: center;">t'Уход</th>
            <th style="width: 30px; text-align: center;">Ед.</th>
            <th style="width: 40px; text-align: center;";>Кол.</th>
            <th style="width: 30px; text-align: center;";>Del</th>
        </tr>
    </thead>
    
    <tbody class="table-warning table-hover">

    {% for n in glist %}

    <tr class="table-warning table-hover">
        <td style="width: 30px; text-align: center;">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id=iz_{{n.id}} name='sotr_iz{{n.id}}'>
            </div>
        </td>
        <td style="width: 80px; text-align: center;">{{ n.sotr.name }}</td>
        <td style="width: 80px; text-align: center;">
            <select id="pos_id" class="form-select" name='pos_{{n.id}}' style="width: 140px; text-align: center;">
                {%for e in plist%}
                    {% if e.pk != n.pos.pk%}
                	    <option value={{e.id}}>{{e.name}}</option> 
                    {% else %}    
                        <option value={{e.pk}} selected={{e.pk}}>{{e.name}}</option>
                    {% endif%}
                {% endfor %}
            </select>
        </td>
        <td style="width: 40px; text-align: center;">
            <div class="mb-3" style="width: 100px;">                
                <input type="time" class="form-control" onchange="timeChange({{n.id}})" name='sotr_t1{{n.id}}' id=t1_{{n.id}} value={{n.t1}}>
            </div>            
        </td>
        <td style="width: 40px; text-align: center;">
            <div class="mb-3" style="width: 100px;">                
                <input type="time" class="form-control" onchange="timeChange({{n.id}})" name='sotr_t2{{n.id}}' id=t2_{{n.id}} value={{n.t2}}>
            </div>            
        </td>
        <td style="width: 30px; text-align: center;">ЧАС</td>
        <td style="width: 60px; text-align: center;">
            <div class="mb-3" style="width: 40px;"> 
                <input type="text" class="form-control" name='sotr{{n.id}}' id=ch_{{n.id}} readonly>
            </div>            
        </td>
        <td style="width: 30px; text-align: center;">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id='del_{{n.id}}' name='sotr_del{{n.id}}'>
            </div>
        </td>
    </tr>

    {% endfor %}

    </tbody>
</table>

</form>

<!-- <--Modal  Окно работает, самое простое, можно делать  -->
<div class="modal fade" id="NomenDescription" tabindex="-1" aria-labelledby="NomenModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="NomenModalLabel">Nomen Preview:</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" id="modal-body">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Закрыть</button>
        </div>
      </div>
    </div>
  </div>

<script>

// Подсчитываю количество времени

const timeChange = (n_id) => {

const t1Div = document.getElementById('t1_'+n_id).value;           
const t2Div = document.getElementById('t2_'+n_id).value;    
const kDiv = document.getElementById('ch_'+n_id);    

  // console.log('t1_'+n_id);
// console.log(t1Div);

let t1 = t1Div.substr(0, 2);
let t2 = t1Div.substr(3, 2);

// текущая дата
var dt = new Date();

var date1 = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(), Number(t1), Number(t2)); 

t1 = t2Div.substr(0, 2);
t2 = t2Div.substr(3, 2);

var date2 = new Date(dt.getFullYear(), dt.getMonth(), dt.getDate(), Number(t1), Number(t2)); 

console.log(dt);
console.log(date1);
console.log(date2);
// alert(String(date1) + String(date2));

let firstDate = t1Div;
let secondDate = t2Div;
let getDate = (string) => new Date(0, 0,0, string.split(':')[0], string.split(':')[1]);
let different = (getDate(secondDate) - getDate(firstDate));
let differentRes, hours, minuts;

//alert(different);

if(different > 0) {
    differentRes = different;
    hours = Math.floor((differentRes % 86400000) / 3600000);
    //minuts = Math.round(((differentRes % 86400000) % 3600000) / 60000);

    minuts = Math.round(((differentRes % 86400000) % 3600000) / 60000);
    minuts = Math.round(minuts / 60 * 10) / 10;
    hours = hours + minuts;


} else {
        differentRes = Math.abs((getDate(firstDate) - getDate(secondDate)));
        hours = Math.floor(24 - (differentRes % 86400000) / 3600000) - 1;
        minuts = Math.round(60 - ((differentRes % 86400000) % 3600000) / 60000);

        minuts = Math.round(minuts / 60 * 10) / 10;
        hours = hours + minuts;
    }

// let result = hours + ':' + minuts;
let result = hours;

kDiv.value = String(result);

}
</script>

{% endblock %}
