{% extends 'catalog/base.html' %}

{% block content %}

<table class="table table-bordered border-primary">
    <thead>
        <tr>
            <th>{{title}}</th>
            <th>В системе:</th>                
        </tr>
    </thead>
    
    <tbody class="table-info table-hover">

        <tr class="table-info table-hover">
                <td>{{user.username}}</td>
                <td>{{user.JT}}</td>
        </tr>
    </tbody>
</table>

<form action="{% url 'GraphicDayReportSimple' %}" method="post">
    {% csrf_token %}
    
    <table class="table table-hover">
        <thead>
            <tr>
                <th style="width: 80px; text-align: center; vertical-align: top;">
                    <div>
                        <label for="id_b_date">Дата: </label>
                        <input id="id_b_date" type="date" value={{gdate}} required id="" name="g_date">
                    </div>
                </th>
                <th><div>
                        <div class="d-grid gap-2 col-6 mx-auto">
                            <button class="btn btn-primary" type="submit">Обновить</button>
                        </div>                        
                    </div>
                </th>
            </tr>
        </thead>
    </table>

{{ form.as_p }}

<table class="table table-hover">
    <thead>
        <tr>
            <th style="width: 100px; text-align: center;">Сотрудники</th>
            <th style="width: 10px; text-align: center;";> </th>
            <th style="width: 80px; text-align: center;";>Время</th>
            <th style="width: 40px; text-align: center;";>Кол.</th>
        </tr>
    </thead>
    
    <tbody class="table-warning table-hover">
    {% if akol > 0 %}
        <tr class="table-warning table-hover">
            <td style="width: 100px; text-align: left; background-color: rgb(111, 1, 1); 
            font-weight: bold; color: beige;">Итог: </td>
            <td style="width: 60px; text-align: left; background-color: rgb(111, 1, 1); 
            font-weight: bold; color: beige;"> </td>
            <td style="width: 60px; text-align: left; background-color: rgb(111, 1, 1); 
            font-weight: bold; color: beige;"> </td>
            <td style="width: 40px; text-align: right; background-color: rgb(111, 1, 1); 
            font-weight: bold; color: beige;">{{akol}}</td>
        </tr>
    {% endif %}

{% for j in rep %}
    {% if j.jkol != 0 %}
        <tr class="table-warning table-hover">
            <td style="width: 100px; text-align: left; background-color: aquamarine; font-weight: bold;">{{j.obj.name}}</td>
            <td style="width: 60px; text-align: right; background-color: aquamarine; font-weight: bold;"> </td>
            <td style="width: 60px; text-align: right; background-color: aquamarine; font-weight: bold;"> </td>
            <td style="width: 40px; text-align: right; background-color: aquamarine; font-weight: bold;">{{j.jkol}}</td>
        </tr>
        
        {% for d in j.dmas %}
            <tr class="table-warning table-hover">
                <td style="width: 100px; text-align: left; background-color: #ffb97f; font-weight: bold;">{{d.div.name}}</td>
                <td style="width: 60px; text-align: right; background-color: #ffb97f; font-weight: bold;"> </td>
                <td style="width: 60px; text-align: right; background-color: #ffb97f; font-weight: bold;"> </td>
                <td style="width: 40px; text-align: right; background-color: #ffb97f; font-weight: bold;">{{d.dkol}}</td>
            </tr>


            {% for i in d.smas %}
                <tr class="table-warning table-hover">
                    <td style="width: 100px; text-align: left; cursor: pointer;">{{i.sotr.name}}</td>
                    <td style="width: 60px; text-align: left; cursor: pointer;">{{i.pos.name}}</td>
                    <td style="width: 60px; text-align: left; cursor: pointer;">{{i.t1}}-{{i.t2}}</td>
                    <td style="width: 40px; text-align: right;">{{i.kol}}</td>
                </tr>            
            {% endfor %}    
        {% endfor %}    
    {% endif %}

{% endfor %}    


    </tbody>

</table> 

</form>

{% endblock %}
